<div>
<h1>Lista de productos</h1>
<ul>
  {{#each products}}
    <li>{{title}} - {{description}} - {{price}} - {{thumbnail:}} - {{code}} - {{stock}} - {{category}} - {{status}}</li>
  {{/each}}
</ul>
</div>
